.list-messages {
    display: flex;
    flex-direction: column;
    height: 88%;
    overflow: auto;
}

.left-message {
    display: flex;
    margin-left: 10px;
}

.right-message {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.input-message {
    border-top: 2px solid grey;
    height: 12%;
}

.input-text-message {
    height: 100%;
    width: 80%;
}

.input-send {
    color: #007bff;
    position: relative;
    left: 7px;
    top: -22px;
}

.chat-container {
    width: 400px;
    height: 550px;
    margin: auto;
    margin-top: 50px;
    border: 2px solid black;
    padding-top: 15px;
    background-color: whitesmoke;
}

/* MODAL STYLES
-------------------------------*/
modal {
  /* modals are hidden by default */

  display: none;
}
modal .modal {
  /* modal container fixed across whole screen */

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index must be higher than .modal-background */

  z-index: 1000;
  /* enables scrolling for tall modals */

  overflow: auto;
}
modal .modal .modal-body {
  padding: 20px;
  background: #fff;
  /* margin exposes part of the modal background */

  margin: 40px;
}
modal .modal-background {
  /* modal background fixed across whole screen */

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* semi-transparent black  */

  background-color: #000;
  opacity: 0.75;
  /* z-index must be below .modal and above everything else  */

  z-index: 900;
}
body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */

  overflow: hidden;
}
